 @font-face {
    font-family: 'playing_cardsregular';
    src: url('fonts/cards-webfont.woff2') format('woff2'),
         url('fonts/cards-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.fuente{
  font-family: 'playing_cardsregular';  
    font-size:8em;
}

.tapete{
        width:80%;
        margin:0 auto;
        background-color:darkgreen;
        display:flex;
        flex-direction:row;
        flex-wrap:  wrap;
        justify-content:center;
    }
    .carta{
   padding-top:1em;
        border:solid 1px #333;
        border-radius:16px;
        background-color:whitesmoke;
        margin:1em 0.5em;
        font-size:1em;
        color:black;
        position:relative;
    }
.corazones, .diamantes{
    color:red;
}
